.box-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  text-shadow:
          -0   -4px 0   #000000,
          0   -4px 0   #000000,
          -0    4px 0   #000000,
          0    4px 0   #000000,
          -4px -0   0   #000000,
          4px -0   0   #000000,
          -4px  0   0   #000000,
          4px  0   0   #000000,
          -1px -4px 0   #000000,
          1px -4px 0   #000000,
          -1px  4px 0   #000000,
          1px  4px 0   #000000,
          -4px -1px 0   #000000,
          4px -1px 0   #000000,
          -4px  1px 0   #000000,
          4px  1px 0   #000000,
          -2px -4px 0   #000000,
          2px -4px 0   #000000,
          -2px  4px 0   #000000,
          2px  4px 0   #000000,
          -4px -2px 0   #000000,
          4px -2px 0   #000000,
          -4px  2px 0   #000000,
          4px  2px 0   #000000,
          -3px -4px 0   #000000,
          3px -4px 0   #000000,
          -3px  4px 0   #000000,
          3px  4px 0   #000000,
          -4px -3px 0   #000000,
          4px -3px 0   #000000,
          -4px  3px 0   #000000,
          4px  3px 0   #000000,
          -4px -4px 0   #000000,
          4px -4px 0   #000000,
          -4px  4px 0   #000000,
          4px  4px 0   #000000,
          -4px -4px 0   #000000,
          4px -4px 0   #000000,
          -4px  4px 0   #000000,
          4px  4px 0   #000000;
}

.box-title-min {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #FFFFFF;
}

.header {
  z-index: 100;
}
