@import 'variables';

body {
  color: $color-white;
  font-family: $font-regular;
  font-size: 1.5em;
}

h1 {
  color: $color-white;
  font-family: $font-regular;
  font-size: 2.5em;
  span {
    font-family: $font-regular;
    font-style: italic;
  }
}

body p {
  font-family: $font-regular;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/static/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/static/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a.symbol, a.symbol:before {
  color: $color-white;
  font-family: 'Mono Social Icons Font';
  display: inline-block;
  transition: all 1s ease;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
}

a.symbol:hover, a.symbol:visited, a.symbol:focus {
  text-decoration: none;
  transform: translateY(-10px);
}

a.symbol:hover::before {
  color: $color-green;
  border-color: $color-green;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/static/fonts/icomoon.eot?m3b1kf');
  src:  url('/static/fonts/icomoon.eot?m3b1kf#iefix') format('embedded-opentype'),
    url('/static/fonts/icomoon.ttf?m3b1kf') format('truetype'),
    url('/static/fonts/icomoon.woff?m3b1kf') format('woff'),
    url('/static/fonts/icomoon.svg?m3b1kf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
  font-size: 1.5em;
}
.icon-circle-down:before {
  content: "\ea43";
  font-size: 1.5em;
}

.icon-file-pdf:before {
  content: "\eadf";
}
