@import "~bootstrap/scss/bootstrap";
@import 'variables';

html, body {
  background: $color-dark-grey !important;
}

a {
  color: $color-green;
  &:hover {
    color: $color-green;
  }
}

.hidden {
  opacity: 0;
}

.btn-scroll {
  display: block;
  margin: 0 auto;
  padding: 40px 0;
  width: 40px;
  text-decoration: none;
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
  span {
    color: white;
  }
  .icon-circle-down, .icon-circle-up {
    color: $color-white;
    display: block;
    transition: all 0.5s ease;
    &:hover {
      color: $color-green;
    }
  }
  .icon-circle-down:hover {
    transform: translateY(3px);
  }
  .icon-circle-up:hover {
    transform: translateY(-3px);
  }
}

.weapon-icon {
  transition: all 0.5s;
  transform: translateY(-15px);
  &:hover {
    color: $color-green;
    cursor: pointer;
    transform: translateY(-10px);
  }
}

.weapon-title {
  color: $color-green;
  display: block;
  font-size: 0.75em;
  margin-top: 0.4em;
}

.extra-info {
  p, i {
    font-size: 0.7em;
  }
  .built-with-react {
    color: $color-green;
  }
  a {
    color: $color-light-grey;
    font-size: 11px;
  }
}

@media screen and (max-width: 543px) {
  body {
    font-size: 1.2em;
  }
  .header {
    min-height: 250px;
  }
  h1 {
    font-size: 2.4em;
  }
  .tagline {
    font-size: 1.3em;
  }
  .weapons {
    margin-top: 400px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 200px;
    margin-top: 400px;
  }
  .weapons {
    margin-top: 600px;
  }
}
